<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MatchSubs4Vids.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
  <applicationSettings>
    <MatchSubs4Vids.Properties.Settings>
          <setting name="OPEN_SUBTITLES_USERNAME" serializeAs="String">
              <value />
          </setting>
          <setting name="OPEN_SUBTITLES_PASSWORD" serializeAs="String">
              <value />
          </setting>
          <setting name="OPEN_SUBTITLES_DOWNLOAD_LANGUAGES" serializeAs="String">
              <value>eng</value>
          </setting>
      </MatchSubs4Vids.Properties.Settings>
  </applicationSettings>
</configuration>
